
.root {
	-fx-spacing: 10;
	-fx-background-color:#e6e6e6;
	-fx-padding: 10;
}

.button {
	-fx-font-family: "Helvetica";
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-background-color: #009933;
	-fx-text-fill: #ffffff;
}

.button:hover {
	-fx-background-color: #00e64d;
	-fx-text-fill: #ffffff;
}